main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    min-width: 400px;
    max-width: 1200px;
    width: 80%;
    background-color: azure;

    margin: 5px;
    padding: 0px;
    border-radius: 0;
}

.card .header {
    display: flex;
    height: 50px;
    background-color: beige;

    user-select: none;

    cursor: pointer;
}

.card .header .expand {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background-color: rgb(255, 255, 255);
}
.card .header .expand:hover {
    background-color: rgb(218, 218, 218);
}

.card .header .title {
    margin: 0;
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.card .header .title:hover {
    background-color: rgb(218, 218, 200);
}

.card .content {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    
}
.card .content .subheading {
    text-align: center;
    font-weight: bold;
}
.card .content .desc {

}